{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        "transform-flow-strip-types",
        "babel-plugin-root-import"
    ],
    "env": { // For React Native
        "production": {
            "plugins": [
                "babel-plugin-root-import"
            ]
        }
    }
}
